# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec

# Poetry / venv
.venv/
env/
ENV/
venv/
env.bak/
venv.bak/
.poetry/
platform_backend_backend/.env
.env

sys/env/*
+!sys/env/.env.backend.template
+!sys/env/.env.common.template
+!sys/env/.env.db.template
+!sys/env/.env.frontend.template
+!sys/env/.env.metabase.template
+!sys/env/.env.metabase_docker.template
+!sys/env/.env.pgadmin.template


# Jupyter / IPython
.ipynb_checkpoints/
profile_default/

# Test / Coverage
.pytest_cache/
.tox/
.nox/
coverage.*
htmlcov/
.cache
.mypy_cache/
.dmypy.json
.pytype/

# Logs / misc
*.log
*.pid

# IDEs
.idea/
.vscode/
.spyderproject/
.spyproject/
.ropeproject/

# OS
.DS_Store
Thumbs.db